<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNQomQ2AmpgPblsxFWjWsS39OeKEUNO4g</string>
	<key>GCM_SENDER_ID</key>
	<string>921746623695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.livingmanage</string>
	<key>PROJECT_ID</key>
	<string>livingmanage-5df73</string>
	<key>STORAGE_BUCKET</key>
	<string>livingmanage-5df73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921746623695:ios:31f7123c0087f910657bba</string>
</dict>
</plist>